.icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}

.icon-nav-home {
    background-image: url("../assets/home.png");
    &:hover {
        background-image: url("../assets/home_h.png");
    }
}

.router-link-active {
    .icon-nav-home {
        background-image: url("../assets/home_a.png");
    }
    .icon-nav-project {
        background-image: url("../assets/project_a.png");
    }
    .icon-nav-about {
        background-image: url("../assets/about_a.png");
    }
}

.icon-nav-project {
    background-image: url("../assets/project.png");
    &:hover {
        background-image: url("../assets/project_h.png");
    }
}

.icon-nav-about {
    background-image: url("../assets/about.png");
    &:hover {
        background-image: url("../assets/about_h.png");
    }
}

.icon-local {
    background-image: url("../assets/icon_location.png");
}

.icon-email {
    background-image: url("../assets/icon_contact.png");
    background-size: 100% auto;
}

.icon-github {
    background-image: url("../assets/icon_github.png");
    background-size: auto 128%;
}

.icon-exp {
    background-image: url("../assets/icon_exp.png");
    background-position: 1px 0;
}

.icon-project {
    background-image: url("../assets/icon_project.png");
    background-position: -1px 0;
}

.icon-time {
    background-image: url("../assets/icon_time.png");
}

.icon-tag {
    background-image: url("../assets/icon_tag.png");
}

.icon-tag-w {
    background-image: url("../assets/icon_tag_w.png");
}

.icon-qrcode-w {
    background-image: url("../assets/icon_qrcode_w.png");
}

.icon-url-w {
    background-image: url("../assets/icon_url_w.png");
}

.icon-github-w {
    background-image: url("../assets/icon_github_w.png");
}