.flex-grow {
    flex-grow: 1;
}

.flex-base {
    flex-basis: 0;
    min-width: 0;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}