.markdown-view {
    color: $gray;
    word-wrap: break-word;
    font-size: 24px;
    line-height: 1.68;

    pre {
        margin: 10px 0 30px 0;
        padding: 10px;
        background: #f6f8fa;
        border-radius: 8px;
        overflow-x: auto;
        word-wrap: break-word;
        letter-spacing: 1px;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: hsla(220, 4%, 58%, .5);
            border-radius: 6px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0);
        }
    }

    pre>code {
        max-width: 100%;
    }

    li>code,
    p>code {
        max-width: 100%;
        padding: 0 8px;
        margin: 0 4px;
        background: rgba($primary, 0.1);
        border-radius: 20px;
    }

    blockquote,
    ol,
    ul,
    p,
    table,
    h2,
    h3,
    h4 {
        margin-bottom: 24px;
    }

    h1 {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    blockquote,
    p,
    ol,
    ul,
    table {

        &+h4,
        &+h3,
        &+h2,
        &+h1 {
            margin-top: 36px;
        }
    }

    table {
        thead tr {
            font-weight: 600;
        }
    }

    a {
        color: $primary;
        transition: 0.2s ease-in;

        &:hover {
            color: $active;
        }
    }

    blockquote {
        position: relative;
        padding-left: 40px;
        background: rgba($primary, 0.1);
        padding: 20px 20px;
        border-left: 3px solid $primary;

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &+ol,
        &+ul {
            margin-top: 24px;
        }
    }

    ol {
        counter-reset: sectioncounter;

        li {
            padding-left: 40px;
            position: relative;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                font-size: inherit;
                content: counter(sectioncounter) ".";
                counter-increment: sectioncounter;
                font-size: 24px;
                color: $gray2;
            }
        }
    }

    h1 {
        font-size: 48px;
        text-align: center;
    }

    h2 {
        font-size: 40px;
        
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 24px;
    }

    hr {
        margin: 40px 0;
        border: none;
        height: 1Px;
        background: linear-gradient(90deg, #23cca9, #23bed5);
        opacity: 0.2;
    }

    h1,h2,h3,h4 {
        a {
            color: $gray;
        }
    }

    img {
        max-width: 100%;
        margin: 24px auto;
    }

    em {
        font-style: normal;
        font-weight: 600;
        color: $active;
    }
}