// 渐入渐隐
.fadeIn-enter-active {
  animation: fadeIn 0.4s ease;
}

.fadeIn-leave-active {
  animation: fadeIn 0.4s ease reverse;
}

// 左侧展开
.leftSwipe-enter-active {
  animation: leftSwipe 0.4s;
}
.leftSwipe-leave-active {
  animation: leftSwipe 0.4s reverse;
}

// 右侧展开
.rightSwipe-enter-active {
  animation: rightSwipe 0.4s;
}
.rightSwipe-leave-active {
  animation: rightSwipe 0.4s reverse;
}

// 向下滑入
.move-down-in-enter-active {
  animation: moveDownIn 0.4s;
}

// 向上滑出
.move-down-in-leave-active {
  animation: moveDownIn 0.4s reverse;
}