html {
  font-size: 14px;
  /* 平滑渐变 */
  -webkit-transition: font-size 0.2s ease-out;
}

/** 自适应 */

/** 桌面端 */
@media only screen and (min-width: 1025px) {
  html {
    font-size: 14px !important;
  }
  .header-menu {
    display: none;
  }
}
@media only screen and (min-width: 1367px) {
  html {
    font-size: 16px !important;
  }
}
/** 移动端 */
@media only screen and (max-width: 1024px) {
  .header-wrap {
    display: none;
    .header-search {
      border-left: none;
    }
    .header-nav-link {
      border-radius: 0;
      padding: 0.6rem 0;
    }
  }
  .footer-wrap {
    height: 6rem;
    font-size: 0.8rem;
    .container {
      padding: 0 1rem;
    }
  }
  .main-wrap {
    padding-top: 0;
    min-height: calc(100vh - 6rem);
  }
  .container {
    max-width: 100%;
  }
  #reward {
    width: 80%;
  }
  .wx-share-modal {
    .wx-qrcode {
      width: 10rem;
    }
  }
  .toc-bot-wrap {
    width: 60vw;
  }
  .to-top,
  .toc-bot-btn {
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2rem;
    .icon {
      font-size: 1rem;
    }
  }
  .to-top {
    bottom: 2.4rem;
  }
  .toc-bot-btn {
    bottom: 6rem;
  }
  .page-archive-wrap,
  .page-tag-wrap,
  .page-category-wrap {
    .container {
      padding: 0 1rem;
    }
  }
  .page-banner {
    height: 14rem;
  }
  .local-search {
    padding: 1rem;
    background-color: rgba($color: $primary, $alpha: 0.28);
  }
  .search-form-wrap.on {
    top: 0;
  }
  .local-search-close {
    top: 1.6rem;
    right: 2rem;
  }
  .search-result-list li .search-result-title {
    font-size: 1.2rem;
  }
}
