.highlight {
  background: #333;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  overflow: hidden;
  table {
    margin: 0 !important;
    width: auto !important;
    border: none !important;
    td {
      border: none !important;
      padding: 0 !important;
    }
  }
  figcaption {
    color: #8e908c;
    line-height: 1em;
    margin-bottom: 1em;
  }
  .gutter {
    .line {
      font-size: 0.6rem;
    }
  }
  .code {
    color: #bababa;
    .line {
      .attribute,
      .keyword {
        color: #569cd6;
      }
      .comment {
        color: #555;
      }
      .tag {
        color: #999;
      }
      .name {
        color: #e2276b;
      }
      .title,
      .attr {
        color: #56d6b4;
      }
      .selector-tag,
      .string,
      .selector-class {
        color: #d6b056;
      }
      .number {
        color: #b5ce89;
      }
      .built_in {
        color: rgb(223, 105, 115);
      }
      .bash,
      .meta {
        color: #669c78;
      }
    }
  }
  &.html {
    position: relative;
    &::before {
      position: absolute;
      top: 0.5rem;
      right: 0.8rem;
      content: 'html';
    }
  }
  &.javascript {
    position: relative;
    &::before {
      position: absolute;
      top: 0.5rem;
      right: 0.8rem;
      content: 'javascript';
    }
  }
  &.shell {
    position: relative;
    &::before {
      position: absolute;
      top: 0.5rem;
      right: 0.8rem;
      content: 'shell';
    }
  }
  &.css {
    position: relative;
    &::before {
      position: absolute;
      top: 0.5rem;
      right: 0.8rem;
      content: 'css';
    }
  }
  &.scss {
    position: relative;
    &::before {
      position: absolute;
      top: 0.5rem;
      right: 0.8rem;
      content: 'scss';
    }
  }
  &.node {
    position: relative;
    &::before {
      position: absolute;
      top: 0.5rem;
      right: 0.8rem;
      content: 'node';
    }
  }
  &.vue {
    position: relative;
    &::before {
      position: absolute;
      top: 0.5rem;
      right: 0.8rem;
      content: 'vue';
    }
  }
}
