<% var sUrl = url.replace(/index\.html$/, ''); sUrl = /^(http:|https:)\/\//.test(sUrl) ? sUrl : 'http:' + sUrl; %>
<div class="share-wrap flex flex-y" id="shareBar">
  <span class="share-btn flex flex-y">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-fenxiang"></use>
    </svg>
    <%- theme.share_text %>
  </span>
  <div class="share-list flex flex-y">
    <a class="weibo share-sns-btn" href="javascript:;" data-type="weibo">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-weibo"></use>
      </svg>
    </a>
    <a class="douban share-sns-btn" href="javascript:;" data-type="douban">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-douban"></use>
      </svg>
    </a>
    <a class="qq share-sns-btn" href="javascript:;" data-type="qq">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-qq"></use>
      </svg>
    </a>
    <a
      class="weixin share-sns-btn wxFab"
      href="javascript:;"
      data-type="weixin"
    >
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-weixin"></use>
      </svg>
    </a>
  </div>
</div>

<div id="shareMask" class="mask-wrap"></div>
<div class="modal-wrap wx-share-modal">
  <div class="share-weixin-title">扫一扫，分享到微信</div>
  <div class="wx-qrcode">
    <img
      src="<%- 'qrcode' in locals ? qrcode(sUrl) : '//api.qrserver.com/v1/create-qr-code/?size=150x150&data=' + sUrl  %>"
      alt="微信分享二维码"
    />
  </div>
  <div class="modal-close" id="wxClose">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-close"></use>
    </svg>
  </div>
</div>
