//浮动
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}

//文字排版
.tl {
  text-align: left !important;
}
.tc {
  text-align: center !important;
}
.tr {
  text-align: right !important;
}

//清除浮动
.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

.hr-line {
  border: none;
  border-bottom: 1px solid $light;
}

//水平垂直居中
.xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

//水平居中
.x-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

//垂直居中
.y-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

// 水平两端对齐垂直居中
.x-between-y-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 水平均分垂直居中
.x-around-y-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}