//用法
// @include center-text;
@mixin center-text {
  text-align: center;
}

@mixin right-text {
  text-align: right;
}

@mixin middle-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin middle-con {
  display: flex;
  align-items: center;
}

@mixin right-con {
  display: flex;
  justify-content: flex-end;
}

@mixin scroll-bar($color) {
  &::-webkit-scrollbar {
    width: px2rem(8);
    height: px2rem(8);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: $color, $alpha: 0.2);
    transition: 0.2s;
    border-radius: px2rem(8);
  }
  &::-webkit-scrollbar-track {
    background-color: $alpha;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba($color: $color, $alpha: 0.6);
  }
}

// 把 px转换成 rem
$baseFontSize: 40;
@function px2rem($px){
  @return $px / $baseFontSize * 1rem; 
}
