// ======颜色变量==== //

// 主色
$primary: #23bed5;
$r: 35;
$g: 190;
$b: 213;

// 透明色
$a: 0.08;
$shadow: rgba(0, 0, 0, $a);

// 辅助色
$white: #ffffff;
$black: #333333;
$alpha: rgba(255,255,255,0);
$green: #23cca9;
$active: #de5585;

// 中性色
$light: #f9f9f9;
$gray: #666666;
$gray2: #999999;

// ====== 宽度变量 ====== //
