<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GaoFang Huang's Project</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/project.css">
</head>

<body>
    <div class="project-wrap" id="project">
        <div class="project-banner">
            <h1>GaoFang Huang's Project</h1>
        </div>
        <ul class="project-list">
            <li class="project-item" v-for="item in list">
                <div class="project-item-cover">
                    <img :src="item.cover" alt="cover">
                </div>
                <div class="project-item-info">
                    <p class="project-item-name">{{ item.name }}</p>
                    <p class="project-item-describe">{{ item.describe }}</p>
                    <time class="project-item-time">{{ item.update }}</time>
                    <ul class="project-item-tags">
                        <li v-for="tag in item.tags">{{ tag }}</li>
                    </ul>
                    <ul class="project-item-platform">
                        <li v-if="item.platform.ios"><span class="qrcode-box"></span><span class="platform-name">ios</span></li>
                        <li v-if="item.platform.android"><span class="qrcode-box"></span><span class="platform-name">android</span></li>
                        <li v-if="item.platform.wxapp"><span class="qrcode-box"></span><span class="platform-name">微信小程序</span></li>
                        <li v-if="item.platform.web"><span class="qrcode-box"></span><span class="platform-name">web</span></li>
                    </ul>
                </div>
            </li>
        </ul>
        <button class="project-add" @click="addProject" v-if="dev">+</button>
        <transition name="fadeIn">
            <div v-if="showModal">
                <div class="modal-mask"></div>
                <div class="modal-box">
                    <div class="modal-title">添加项目</div>
                    <div class="modal-body">
                        <div class="form-entry">
                            <span class="form-label">项目封面</span>
                            <span class="form-input">
                                <input type="file" @change="getFile" />
                            </span>
                        </div>
                        <div class="form-entry">
                            <span class="form-label">项目名称</span>
                            <span class="form-input">
                                <input type="text" v-model="curItem.name" />
                            </span>
                        </div>
                        <div class="form-entry">
                            <span class="form-label">项目名称</span>
                            <span class="form-input">
                                <textarea v-model="curItem.describe" cols="30" rows="3"></textarea>
                            </span>
                        </div>
                        <div class="form-entry">
                            <span class="form-label">项目标签</span>
                            <span class="form-input">
                                <input type="text" v-model="curItem.tags" />
                            </span>
                        </div>
                        <div class="form-entry">
                            <span class="form-label">IOS</span>
                            <span class="form-input">
                                <input type="text" v-model="curItem.ios" />
                            </span>
                        </div>
                        <div class="form-entry">
                            <span class="form-label">Android</span>
                            <span class="form-input">
                                <input type="text" v-model="curItem.android" />
                            </span>
                        </div>
                        <div class="form-entry">
                            <span class="form-label">微信小程序</span>
                            <span class="form-input">
                                <input type="text" v-model="curItem.wxapp" />
                            </span>
                        </div>
                        <div class="form-entry">
                            <span class="form-label">Web</span>
                            <span class="form-input">
                                <input type="text" v-model="curItem.web" />
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="modal-btn btn-cancel" @click="showModal = false">取消</button>
                        <button class="modal-btn btn-confirm">确定</button>
                    </div>
                </div>
            </div>
        </transition>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.22/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script src="../static/project.js"></script>
</body>

</html>