<div class="index-douban-wrap index-box">
  <div class="index-box-title flex flex-y">清单</div>
  <ul class="index-douban-list">
    <li class="index-douban-item">
      <a href="/books"># 读书清单</a>
    </li>
    <li class="index-douban-item">
      <a href="/movies"># 电影清单</a>
    </li>
    <li class="index-douban-item">
      <a href="/games"># 游戏清单</a>
    </li>
  </ul>
</div>
