<div class="we-wrap index-box">
  <div class="we-avatars">
    <div class="we-avatar-i"><img src="/images/ia.jpg" alt="i"></div>
    <div class="we-avatar-and">
      ❤️
    </div>
    <div class="we-avatar-you"><img src="/images/youa.jpg" alt="you"></div>
  </div>
  <div id="weTogether"></div>
</div>