.article-wrap {
  padding: 1rem;
  .article-header {
    margin-bottom: 1rem;
  }
  .article-title {
    color: #444;
    border-bottom: 2px dotted #efefef;
    &:hover {
      border-bottom: 2px dotted #777;
      &::after {
        display: none;
      }
    }
  }
  .article-meta {
    margin-bottom: 1rem;
    a {
      &:hover {
        &::after {
          display: none;
        }
      }
    }
    .article-category {
      margin-right: 1rem;
      .icon {
        margin-right: 0.2rem;
        color: #999;
      }
      .article-category-link {
        color: #999;
      }
    }
    .article-date {
      color: #999;
      font-size: 0.8rem;
    }
  }
  .article-footer {
    .article-tag-wrap {
      .icon {
        margin-right: 0.2rem;
        color: #666666;
      }
    }
    .article-tag-list {
      display: flex;
    }
    .article-tag-list-item {
      margin-right: 0.6rem;
      background: #f9f9f9;
      border-radius: 0.2rem;
      overflow: hidden;
      transition: 0.2s;
      &:hover {
        background: #f2f2f2;
      }
    }
    .article-tag-list-link {
      display: block;
      color: #666666;
      padding: 0.2rem 0.8rem;
      font-size: 0.8rem;
      &:hover {
        &::after {
          display: none;
        }
      }
    }
  }
}
