.article-entry {
  #reward-btn,
  .article-more-link {
    display: inline-block;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 6rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 0.4rem;
    font-weight: 400;
    box-shadow: 0 3px 9px rgba($color: #000000, $alpha: 0.1);
    transition: 0.2s;
    font-size: 0.8rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    // 兼容QQ浏览器渐变1px空白
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 102%;
      background: linear-gradient(135deg, $primary, $green);
      z-index: -1;
      border-radius: 0.4rem;
    }
    &:hover {
      &::after {
        display: none;
      }
      box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.1) inset;
    }
  }
  #reward-btn {
    margin-left: 50%;
    height: 2.4rem;
    line-height: 2.4rem;
    transform: translateX(-50%);
    font-size: 1rem;
  }
}

#vcomments-box {
  padding: 0 !important;
  margin-top: 2rem;

  #vcomments {
    background: none !important;
  }
  .vwrap {
    background: #fff;
  }
}
