<div class="about-wrap">

  <div class="about-bar">

    <div class="about-bar-con">

      <!-- 头像 -->
      <div class="about-avatar">
        <img src="/static/img/carrot_hover.jpg" alt="preload">
      </div>

      <!-- 简介 -->
      <div class="about-info">

        <p class="about-name">GaoFang</p>
        <p class="about-position">前端开发工程师</p>
        <p class="about-local">广州 → 深圳</p>

        <hr class="hr-line">

        <p class="about-summary">
          三年设计·三年前端
          <br>
        </p>

        <hr class="hr-line">

        <ul class="about-tags">
          <li class="about-tag" :key="item" v-for="item in tags">
            <a :href="'http://blog.huanggaofang.com/archive?tag=' + item" target="_blank">{{item}}</a>
          </li>
        </ul>

      </div>

      <!-- 联系方式 -->
      <div class="about-contact">

        <a href="mailto:gaofanghuang@vip.qq.com" class="about-email">gaofanghuang@vip.qq.com</a>

        <ul class="about-sns-list">
          <li class="about-sns-item" v-for="item in sns">
            <a v-bind:href="item.url" target="_blank">
              <svg class="icon" aria-hidden="true">
                <use :xlink:href="item.icon"></use>
              </svg>
            </a>
          </li>
        </ul>

      </div>

    </div>

  </div>

  <div class="about-content">
    
    <!-- 近期作品 -->
    <div class="about-last-project">
      <div class="about-tips">
        <p>...to btn continue.</p>
        <a href="http://blog.huanggaofang.com">→ Welcome to my blog ←</a>
      </div>
    </div>

  </div>

</div>
